*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #080808;
    font-weight: bold;
}
.header {
    color: white;
    font-size: 25px;
    padding: 15px;
    margin-bottom: -50px;
    margin-left: 150px;
}
.siteLogo {
    width: 14px;
    height: auto;
    padding: 30px;
    margin-bottom: -90px;
    margin-left: 20px;
}
.siteHeader {
    color: white;
    position: absolute;
    margin-left: 190px;
    margin-top: 50px;
    font-size: 25px;
}
.message {
    color: white;
    position: absolute;
    margin-left: 950px;
    margin-top: 30px;
}
.message h4 {
    justify-content: center;
    align-items: center;    
}
section {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 700px;
    margin-left: 1300px;
}
section .main {
    width: 600px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .main .searchBar {
    position: relative;
    width: 100px;
    margin-top: 10px;
    transform: scale(5);
}
section .query {
    width: 500px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 100px;
}
section .main .searchBar .query {
    width: 100px;
    padding: 10px;
    color: red;
    outline: none;
    font-size: 16px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 50px;
}
section .search {
    margin: 0 5px;
    margin-top: 20px;
    width: 100px;
    padding: 3px;
    color: #555;
    font-size: 14px;
    transform: scale(1.5);
    border: none;
    cursor: pointer;
    border-radius: 2px;
    border: 3px solid white;
    outline: none;
}
.search:hover {
    border: 3px solid #ccc;
}
.container {
    color: white;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-left: 1050px;
} 
.videoSpecs {
    position: relative;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 1;
} 
.video {
    width: 885px;
    height: 497.81px;
    padding: 25px;
    margin-top: 20px;
    margin-left: -120px;
    box-shadow: rgb(0, 119, 255) 0px 1px 30px, rgba(0, 255, 225, 10) 0px 1px 10px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9000;
} 
.player {
    position: absolute;
    margin-top: -650px;
    padding-top: 115px;
    padding-bottom: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: left;
    align-items: center;
    justify-content: left;
    color: white;
}
.wrapper {
    border: 1px solid transparent;
    padding: 50px;
    border-radius: 12px;
    height: 800px;
    box-shadow: rgba(0, 119, 255) 0px 2px 30px, rgba(0, 255, 225, 10) 0px 5px 10px;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.track-name {
    font-size: 3rem;
}
.track-artist {
    margin-top: 5px;
    font-size: 2rem;
}
.now-playing {
    font-size: 1rem;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: center;
    margin-bottom: 30px;
}
.buttons .random-track {
    color: red;
}
.active {
    color: black;
}
.repeat-track, .random-track, .playpause-track, .next-track, .previous-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity 25ms;
}
.repeat-track:hover, .random-track:hover, .playpause-track:hover, .next-track:hover, .previous-track:hover {
    opacity: 1.0;
    align-items: center;
    justify-content: center;
    color: green;
}
.slider_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: 0.25s;
    transition: opacity 0.25s;
    align-items: center;
    justify-content: center;
}
.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border: 5px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.seek_slider:hover, .volume_slider:hover {
    opacity: 1;
}
.seek_slider {
    width: 75%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.volume_slider {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.current-time, .total-duration {
    padding: 10px;
}
i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
}
i, i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
}
.randomActive {
    color: black;
}
.copyright {
    /*background-color: #080808;*/
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: -950px;
    margin-left: -635px;
    font-weight: 500;
    color:#999;
    font-family: 'Comfortaa', sans-serif, monospace;
}
.rotate {
    animation: rotation 8s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.Loader {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Loader, .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 60px;
    margin: 0px 50px;
    animation: animate 1s linear infinite;
}
@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4;
    }
    100% {
        height: 100%;
    }
}
.stroke:nth-child(1) {
    animation-delay: 0s;
}
.stroke:nth-child(2) {
    animation-delay: 0.3s;
}
.stroke:nth-child(3) {
    animation-delay: 0.6s;
}
.stroke:nth-child(4) {
    animation-delay: 0.9s;
}
.stroke:nth-child(5) {
    animation-delay: 0.6s;
}
.stroke:nth-child(6) {
    animation-delay: 0.3s;
}
.stroke:nth-child(7) {
    animation-delay: 0s;
}
